<style>
  .progress-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 50%;
    margin: 0 auto;
  }

  .progress-track {
    height: 4px;
    background: #e0e0e0;
    width: 100%;
    position: absolute;
    top: 15px; /* 位置调整使得节点在上方 */
    z-index: 1;
  }

  /* 新添加的进度指示部分 */
  .progress-indicator {
    height: 4px;
    background: #4CAF50;
    position: absolute;
    top: 15px; /* 与progress-track对齐 */
    z-index: 2; /* 在progress-track之上 */
  }

  .progress-step {
    width: 25px;
    height: 25px;
    background: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    position: relative; /* 相对于父元素progress-bar定位 */
  }

  .progress-step span{
    position: absolute;
    top: 3em;
  }

  .progress-step::after {
    /* content: attr(data-step); */
    color: black;
    position: absolute;
    top: 30px; /* 文字位置调整到线下方 */
  }

  .progress-step-active {
    background: #4CAF50;
  }

  .progress-step-active::after {
    color: #fff;
  }
</style>


<%# app/views/orders/new.html.erb %>
<h1>Order Summary</h1>

<%# <%= @existing_order.inspect %>

<div class="progress-bar">
  <div class="progress-track"></div>
  <div class="progress-indicator" style="width: <%= progress_width(@existing_order) %>;"></div>
  <div class="progress-step progress-step-active" data-step="1"><span>Unpaid</span></div>
  <div class="progress-step <%= 'progress-step-active' if @existing_order.present? && @existing_order.status.to_sym == :paid or @existing_order.status.to_sym == :shipping or @existing_order.status.to_sym == :completed %>" data-step="2"><span>Paid</span></div>
  <div class="progress-step <%= 'progress-step-active' if @existing_order.present? && @existing_order.status.to_sym == :shipping or @existing_order.status.to_sym == :completed %>" data-step="3"><span>Shipping</span></div>
  <div class="progress-step <%= 'progress-step-active' if @existing_order.present? && @existing_order.status.to_sym == :completed %>" data-step="4"><span>Completed</span></div>
</div>


<div class="container mx-auto mt-8">
  <div class="bg-white p-6 rounded-md shadow-md">
    <div class="grid grid-cols-3 items-center mb-4">
      <!-- title -->
      <div class="col-span-1">
        <h2 class="text-lg font-semibold text-gray-700">Shipping Address</h2>
      </div>

      <!-- detail -->
      <div class="col-span-1">
        <% if @existing_order.present? %>
          <p class="text-gray-800 font-medium"><%= @user.username %></p>
          <p class="text-gray-600"><%= @existing_order.address %></p>
          <p class="text-gray-600"><%= @existing_order.city %>, <%= Province.find(@existing_order.province_id).name %> <%= @existing_order.post_code %></p>
        <% else %>
          <p class="text-gray-800 font-medium"><%= @user.username %></p>
          <p class="text-gray-600"><%= @user.address %></p>
          <p class="text-gray-600"><%= @user.city %>, <%= Province.find(@user.province_id).name %> <%= @user.postal_code %></p>
        <% end %>
      </div>

      <!-- change -->
      <div class="col-span-1 text-right">
        <%= link_to 'Change', edit_user_registration_path, class: "text-sm text-blue-500 hover:text-blue-600" %>
      </div>
    </div>
  </div>
</div>


<div class="container mx-auto mt-8">
  <div class="bg-white p-6 rounded-md shadow-md">
    <div class="grid grid-cols-2 items-start gap-4">
      <!-- title -->
      <div>
        <h2 class="text-lg font-semibold text-gray-700">Order Details</h2>
      </div>

      <!-- products -->
      <div>
        <% @products.each do |item| %>
          <div class="product mb-4">
            <h3 class="text-md font-semibold text-gray-800"><%= item[0].name %></h3>
            <p class="text-sm text-gray-600">Description: <%= item[0].description %></p>
            <p class="text-sm text-gray-600">Price: $<%= '%.2f' % item[0].price %></p>
            <p class="text-sm text-gray-600">Quantity: <%= item[1] %></p>
            <p class="text-sm text-gray-600">Subtotal: $<%= '%.2f' % (item[0].price * item[1]) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="bg-white shadow overflow-hidden sm:rounded-lg w-full">
  <div class="flex flex-col items-end justify-end h-full p-6">
    <div class="space-y-2"> <!-- control line spacing -->
      <div class="flex justify-between items-center space-x-2"> <!-- control column spacing -->
        <span class="text-sm font-medium text-gray-500">Items:</span>
        <span class="text-sm font-semibold text-gray-900">$<%= '%.2f' % @total_price %></span>
      </div>
      <div class="flex justify-between items-center space-x-2">
        <span class="text-sm font-medium text-gray-500">GST/HST:</span>
        <span class="text-sm font-semibold text-gray-900">$<%= '%.2f' % @gst %></span>
      </div>
      <div class="flex justify-between items-center space-x-2">
        <span class="text-sm font-medium text-gray-500">PST/RST/QST:</span>
        <span class="text-sm font-semibold text-gray-900">$<%= '%.2f' % @pst %></span>
      </div>
      <div class="flex justify-between items-center space-x-2">
        <span class="text-lg font-medium text-gray-900">Total:</span>
        <span class="text-lg font-bold text-red-600">$<%= '%.2f' % @total_with_taxes %></span>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-end mt-5 mb-5 mr-6">
  <%= form_for Order.new, url: orders_path do |f| %>
    <% @products.each do |product, quantity| %>
      <%= fields_for "order[order_items_attributes][]", OrderItem.new do |oi| %>
        <%= oi.hidden_field :product_id, value: product.id %>
        <%= oi.hidden_field :quantity, value: quantity %>
        <%= oi.hidden_field :price, value: product.price %>
      <% end %>
    <% end %>
    <%= f.hidden_field :address, value: @user.address %>
    <%= f.hidden_field :city, value: @user.city %>
    <%= f.hidden_field :province_id, value: @user.province_id %>
    <%= f.hidden_field :post_code, value: @user.postal_code %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :gst, value: @gst %>
    <%= f.hidden_field :pst, value: @pst %>
    <%= f.hidden_field :total_with_taxes, value: @total_with_taxes %>
    <%= f.hidden_field :ref, value:@ref %>
    <% if @existing_order.nil? || @existing_order.status == 'unpaid' %>
      <%= f.hidden_field :refid, value:@existing_order.id%>
      <%= f.submit 'Proceed to Checkout', class: 'bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' %>
    <% end %>
  <% end %>

</div>