<!-- app/views/products/index.html.erb -->
<div class="container mx-auto px-6 py-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <% @products.each do |product| %>
      <div class="bg-white rounded-lg shadow overflow-hidden flex flex-col">
        <% if product.images.attached? %>
          <div class="flex justify-center items-center w-16 h-16">
            <%= image_tag product.images.first.variant(resize_to_limit: [69, 69]), class: "object-cover rounded-md border-gray-300 shadow-sm max-w-none" %>
          </div>
        <% else %>
          <div class="flex justify-center items-center w-16 h-16">
            <%= image_tag "placeholder-image.png", alt: "No image available", class: "h-48 w-full object-cover" %>
          </div>
        <% end %>
        <div class="p-4 flex-1 flex flex-col">
          <h2 class="font-bold text-lg mb-2"><%= product.name %></h2>
          <p class="text-gray-800 mb-4 flex-1"><%= product.description %></p>
          <div class="flex justify-between items-end mt-4">
            <span class="text-gray-600"><%= number_to_currency(product.price) %></span>
            <div>
              <%= link_to 'Learn More', contact_us_path(product), class: "text-blue-600 hover:underline" %>
              <%= link_to 'Buy Now', contact_us_path(product), class: "bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="my-8">
  <%= paginate @products %>
</div>

<%# <div class="container mx-auto px-4">
    <div class="grid grid-cols-3 gap-4">
        <div class="bg-blue-500 h-32 flex justify-center items-center text-white">Item 1</div>
        <div class="bg-green-500 h-32 flex justify-center items-center text-white">Item 2</div>
        <div class="bg-red-500 h-32 flex justify-center items-center text-white">Item 3</div>
        <div class="bg-yellow-500 h-32 flex justify-center items-center text-white">Item 4</div>
        <div class="bg-purple-500 h-32 flex justify-center items-center text-white">Item 5</div>
        <div class="bg-pink-500 h-32 flex justify-center items-center text-white">Item 6</div>
        <div class="bg-indigo-500 h-32 flex justify-center items-center text-white">Item 7</div>
        <div class="bg-gray-500 h-32 flex justify-center items-center text-white">Item 8</div>
        <div class="bg-orange-500 h-32 flex justify-center items-center text-white">Item 9</div>
    </div>
</div> %>