<!-- app/views/_navigation.html.erb -->
<nav class="bg-white shadow fixed top-0 left-0 right-0 z-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <!-- Logo -->
      <div class="flex-shrink-0 flex items-center">
        <%= image_tag('logo.webp', alt: 'SmartNest', class: "h-16 w-16 object-cover") %>
      </div>

      <!-- Primary Navigation Menu -->
      <div class="hidden sm:flex space-x-8">
        <%= link_to 'Product', root_path, class: "inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 #{'border-indigo-500 text-gray-900' if current_page?(root_path)}" %>
        <%= link_to 'Contact Us', contact_us_path, class: "inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 #{'border-indigo-500 text-gray-900' if current_page?(contact_us_path)}" %>
        <%= link_to 'About Us', about_us_path, class: "inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 #{'border-indigo-500 text-gray-900' if current_page?(about_us_path)}" %>
      </div>

      <!-- Cart link aligned to the right -->
      <div class="hidden sm:flex space-x-8">
        <%= link_to 'Cart', cart_path, class: "inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 #{'border-indigo-500 text-gray-900' if current_page?(cart_path)}" %>
        <%= link_to 'Account', user_path, class: "inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium leading-5 #{'border-indigo-500 text-gray-900' if current_page?(user_path)}" %>
      </div>

      <!-- Mobile menu button -->
      <div class="flex items-center sm:hidden">
        <button onclick="toggleMobileMenu()" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
            <path id="mobile-menu-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div id="mobile-menu" class="sm:hidden hidden">
    <%= link_to 'Product', root_path, class: "#{'text-indigo-500' if current_page?(root_path)} block px-3 py-2 rounded-md text-base font-medium" %>
    <%= link_to 'Contact Us', contact_us_path, class: "#{'text-indigo-500' if current_page?(contact_us_path)} block px-3 py-2 rounded-md text-base font-medium" %>
    <%= link_to 'About Us', about_us_path, class: "#{'text-indigo-500' if current_page?(about_us_path)} block px-3 py-2 rounded-md text-base font-medium" %>
    <%= link_to 'Cart', cart_path, class: "#{'text-indigo-500' if current_page?(cart_path)} block px-3 py-2 rounded-md text-base font-medium" %>
    <%= link_to 'Account', user_path, class: "#{'text-indigo-500' if current_page?(user_path)} block px-3 py-2 rounded-md text-base font-medium" %>
  </div>
</nav>
