<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MySmartHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header class="fixed w-full">
      <%= render 'layouts/navigation' %>
    </header>
    <main  class="mt-16">
      <!-- Flash messages -->
      <% flash.each do |type, message| %>
        <div class="<%= flash_class(type) %> p-4 mb-4 text-sm text-white rounded-lg flash-notice" role="alert">
          <span class="font-medium"><%= message %></span>
        </div>

        <script>
          // js alert
          // alert("<%= j message %>");
          setupFlashNotices();
        </script>

      <% end %>
      <%= yield %>
    </main>



    <script>
      function setupFlashNotices() {
        const flashNotices = document.querySelectorAll('.flash-notice');

        flashNotices.forEach(flashNotice => {
          setTimeout(() => {
            fadeOut(flashNotice);
          }, 3000); // fade out in 3s
        });
      }

      function fadeOut(element) {
        let op = 1;  // Initialize the opacity
        const timer = setInterval(() => {
          if (op <= 0.01){
            clearInterval(timer);
            element.style.display = 'none';
          }
          element.style.opacity = op;
          op -= op * 0.1;
        }, 30);
      }
    </script>

  </body>
</html>
